<section>
  <div class="view__container">
    <div class="otp__header">
      <div class="img__container">
        <img src="/assets/img/icon-information.svg">
      </div>
        <h3 class="success__title">¡DOCUMENTO RECHAZADO!</h3>
    </div>
    <div class="opt__action">
        <div class="opt__info">
            <p class="opt__text">Hemos enviado una notificación al emisor del documento con el motivo de tu rechazo.</p>
        </div>
        <button class="opt__button" [routerLink]="'/main/repositorio'">
            Finalizar
        </button>
    </div>
  </div>
</section>
