.modal__container {
    padding: 30px 40px;
}

.modal__header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.close__button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal__tittle {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #9e267d;
    flex: 1;
}

.form__update {
    margin: 10px 0;
}

.actions__container {
    text-align: center;
}

.update__button {
    margin-left: 20px;
}