.firmador__login {
  overflow: hidden;
}

.register__left {
  position: relative;
  width: 60%;
  height: 98vh;
}

.register__cont {
  position: relative;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; 
}

.register__cont-mov {
  display: none;
}

.otp-input{
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 15px;
}
.otp-input:focus{
  outline: none;
}

@media (max-width: 640px) {
  .register__left {
      height: auto;
      width: 100%;
      padding: 30px 25px 0;
  }

  .register__cont {
      display: none; 
  }

  .register__cont-mov {
    position: relative;
    display: initial;
    margin-top: 10px;
    padding: 5px;
  }
}
