<section class="firmador__login">
    <div class="log-bar"></div>

    <div class="login__wrapper disp-flex">

        <div class="register__left">
            <div class="register__cont-mov">
                <lottie-animation-view [options]="animObjmov">
                </lottie-animation-view>
            </div>
            <div class="register__cont">
                <lottie-animation-view [options]="animObj">
                </lottie-animation-view>
            </div>
        </div>

        <div class="log-der">
            <div class="log-usu">

                <div class="app__logo">
                    <img class="image__logo" src="../../../../assets/img/logo-mi-firma.svg" alt="Logo MiFirma"
                        width="177" height="55">
                </div>

                <form class="user__login" [formGroup]="formPersona">

                    <ng-template #passtext>
                        La contraseña debe tener lo siguiente:
                        <br>
                        <br> -Mínimo 8 caracteres
                        <br> -Una letra MAYÚSCULA
                        <br> -Una letra minúscula
                        <br> -Un carácter especial
                        <br> -Un número
                        <br> -No puede contener espacios
                    </ng-template>

                    <div class="form__floating mt-50">
                        <input
                            [ngClass]="{'correct-pass': Contrasena.valid && Contrasena.dirty,'wrong-pass': Contrasena.invalid && Contrasena.dirty
                                        ,'pass': !fieldTextType,'pass-view': fieldTextType}"
                            id="contrasena" type="text" name="contrasena" placeholder="Nueva Contraseña"
                            formControlName="Contrasena" maxlength="50" minlength="8" autocomplete="off" (keydown)="checkCharacters($event)">
                        <label for="contrasena">Nueva Contraseña</label>
                        <i class="icon view-pass"
                            [ngClass]="{'icon-view': !fieldTextType,'icon-no-view': fieldTextType}"
                            (click)="toggleFieldTextType()"></i>
                    </div>
                    <div class="text-left-ovwrite"
                        [ngClass]="{'inv':!((Contrasena.invalid && Contrasena.touched) || Contrasena.dirty)}">
                        <small [ngClass]="{'inv': true}" class="text-error">*</small>
                        <small *ngIf="Contrasena.errors?.required" class="text-error">La contraseña es requerida</small>
                    </div>

                    <div class="form__floating">
                        <input
                            [ngClass]="{'correct-pass': Contrasena2.valid && Contrasena2.dirty && equallsPass,'wrong-pass': Contrasena2.dirty && !equallsPass
                                        ,'pass': !fieldTextType2,'pass-view': fieldTextType2}"
                            id="contrasena2" type="text" name="contrasena2" placeholder="Confirmar Contraseña"
                            formControlName="Contrasena2" maxlength="50" minlength="8" autocomplete="off" onpaste="return false;" (keydown)="checkCharacters($event)">
                        <label for="contrasena2">Confirmar Contraseña</label>
                        <i class="icon view-pass"
                            [ngClass]="{'icon-view': !fieldTextType2,'icon-no-view': fieldTextType2}"
                            (click)="toggleFieldTextType2()"></i>
                    </div>
                    <div class="text-left-ovwrite"
                        [ngClass]="{'inv':!((Contrasena2.invalid && Contrasena2.touched) || Contrasena2.dirty)}">
                        <small [ngClass]="{'inv': true}" class="text-error">*</small>
                        <small *ngIf="Contrasena2.errors?.required" class="text-error">Confirmar la contraseña es
                            requerido</small>
                            <br>
                        <small *ngIf="!equallsPass && Contrasena2.touched" class="text-error">Las contraseñas son distintas</small>
                    </div>

                    <div class="mt-10">
                        La contraseña debe tener lo siguiente:
                        <br>
                        <br> -Mínimo 8 caracteres
                        <br> -Una letra MAYÚSCULA
                        <br> -Una letra minúscula
                        <br> -Un carácter especial
                        <br> -Un número
                        <br> -No puede contener espacios
                    </div>

                    <div *ngIf="!prodEnvironment" class="algn-m_b">
                        <button (click)="resetPassword()" class="form__button continue-btn-2 mt-30 mb-60"
                            id="btnContinuar" name="btnContinuar">
                            Finalizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>