<section class="firmador__login">
    <div class="log-bar"></div>

    <div class="login__wrapper disp-flex">

        <div class="register__left">
            <div class="register__cont-mov">
                <lottie-animation-view
                    [options]="animObjmov">
                </lottie-animation-view>
              </div>
            <div class="register__cont">
                <lottie-animation-view
                    [options]="animObj">
                </lottie-animation-view> 
            </div>
        </div>

        <div class="log-der">
            <div class="log-usu">

                <div class="app__logo">
                    <img 
                        class="image__logo" 
                        src="../../../../assets/img/logo-mi-firma.svg" 
                        alt="Logo MiFirma"
                        width="177"
                        height="55">
                </div>

                <form   class="user__login"
                        (ngSubmit)="login($event)"
                        [formGroup]="formPersona">
                    <div class="form__floating mt-50">
                        <input class="form__input"
                                maxlength="50"
                                autocomplete="email"
                                name="email"
                                type="email"
                                id="correo"
                                placeholder="Correo electrónico"
                                formControlName="correo">
                        <label for="correo">Correo electrónico</label>
                    </div>
                    <div [ngClass]="{'inv':!((Email.invalid && Email.touched) || Email.dirty)}">
                        <small [ngClass]="{'inv':true}" class="text-error">*</small>
                        <small *ngIf="(Email.errors?.required)" class="text-error">El email es requerido</small>
                        <small *ngIf="(Email.errors?.email)" class="text-error">El email es inválido</small>
                    </div>

                    <div class="form__floating">
                        <input class="form__input"
                                maxlength="200"
                                name="contrasena"
                                type="password"
                                id="contrasena"
                                placeholder="Contraseña"
                                formControlName="Contrasena">
                        <label for="contrasena">Contraseña</label>
                    </div>
                    <div class="text-left-ovwrite"
                            [ngClass]="{'inv':!((Contrasena.invalid && Contrasena.touched) || Contrasena.dirty)}">
                            <small [ngClass]="{'inv':!Contrasena.errors?.required}" class="text-error">La contraseña es requerida</small>
                    </div>

                    <p class="fs-m">
                        <span class="click-text cursor-pointer fs-m" routerLink="/login/reset/password/pin">¿Has olvidado tu contraseña?</span>
                    </p>
                    <div class="algn-m_b">
                        <button
                                type="submit"
                                class="form__button continue-btn-2 mt-30 mb-60"
                                id="btnContinuar"
                                name="btnContinuar">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

