<section>
    <div class="view__container">
        <div class="img__container">
            <img src="/assets/img/icon-doc-ready.svg">
        </div>
        <div class="content__container">
            <h1 class="content__container--message">Este <span>documento</span> ya fue actualizado y/o firmado, gracias por utilizar <span>Mi Firma.</span></h1>
            <button 
                class="continue-btn-2"
                [routerLink]='"main/menu"'>
                Regresar a Mi Cuenta
            </button>
        </div>
    </div>
</section>
