.imgs {
    width: 20em;
    height: 10em;
}

.div-colors {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    border: solid #685f5f;
}

hr {
    border: 1px solid #C8C8C8;
    opacity: 1;
}

.grey-btn {
    width: 8rem !important;
}

.divLogo {
    transition: all .7s;
}

.form-control-area {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}