.l-folder_section{
    padding: 5% 8%;
}

.l-folder_title{
    text-align: center;
    font-size: 18px;
    color: #9E267C;
    margin: 10px;
    font-weight: 600;
}

.close__button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.item-folder{
    padding: 3%;
    cursor: pointer;
    word-break: break-all;
    font-size: 14px;
    font-weight: 400;
}

.item-folder.active{
  background-color: #e6e6e6;
}

.item-folder:hover{
    background-color: #e6e6e6;
}

.box-options{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
}

.btn-options{
    margin-right: 20px;
    margin-bottom: 0;
}

.button-move {
  border: 1px solid #9e267d;
  color: #fff;
  border-radius: 5px;
  background-color: #9e267d;
  padding: 10px 35px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
}

.button-move:disabled {
  cursor: not-allowed;
  border: solid 1px #e6e6e6;
  color: #e6e6e6;
  background: #ffffff;
}

.icons-item{
  padding: 0 3%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  align-self: center;
}

.icons-item img{
  color: #9E267C;
  height: 25px;
}

.container__buttons {
  display: flex;
  padding-top: 5%;
  border-top: 2px solid #e6e6e6;
}

.document__icon {
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.list__folders {
  max-height: 220px;
  overflow: auto;
}

.long-signers__wrapper {
  text-align: left;
  margin: 10px 0;
}

.signers__subtitle {
  color: #373737;
  font-size: 16px;
  margin-bottom: 15px;
}

.header-signers {
  display: flex;
  justify-content: space-between;
}

.text-slide-button{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 2px 10px;
}

.selected-option{
  font-weight: 500;
}

.add-button {
  display: flex;
  color: #707070;
  background-color: transparent;
  font-size: 14px;
  border: none;
  padding: 5px 10px;
}

  .add-button .icon {
      font-size: 15px;
      margin-right: 10px;
  }

.number-fir {
  width: 4%;
  height: 40px;
  border: 1px solid #bebebe;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  margin-left: 10px;
}

.dragula-box {
  width: 100%;
  display: flex;
  position: relative;
  margin: 10px 0px;
}

  .dragula-box .mat-select {
      width: 21%;
      margin: auto;
  }

.input__name {
  width: 42%;
  margin: auto;
}

.input__email {
  width: 42%;
  margin: auto;
}

.button__bin {
  margin: 10px 0px;
  cursor: pointer;
}

.button-invite{
  margin: 15px;
  text-align: center;
}

@media (max-width: 640px) {
  .signers__subtitle {
      font-size: 14px;
      margin: 0;
  }

  .number-fir {
      display: none;
  }

  .dragula-box {
      flex-wrap: wrap;
  }

  .input__name {
      width: calc(100% - 25px);
      margin-left: 5px;
  }

  .input__email {
      width: calc(100% - 45px);
      margin-left: 25px;
      margin-right: 4px;
      margin-top: 10px;
  }

  .button__bin {
      margin-top: 20px;
  }

  .header-signers {
      flex-direction: column;
  }
}


@media (max-width: 640px) {

    .box-options{
        display: inline-block;
    }

    .btn-options{
        margin-right: 0;
        margin-bottom: 10px;
    }
}
