<div class="document__file">

  <div class="container__title">
    <span class="title__terms">{{titulo}}</span>
  </div>

  <div class="container-fluid container__terms--date">
    <div class="container__date">

      <div class="container__date--position">
        <div class="info__date pb-1">
          <span class="date__title pb-1">Fecha de Aceptación:</span>
          <span class="date__text">{{dateTerm | date:'dd/MM/yyyy h:mm:ss a'}}</span>
        </div>
        <div class="info__ip">
          <span class="date__title pr-1">IP:</span>
          <span class="date__text">{{publicIp}}</span>
        </div>
      </div>
      <img class="img__certificado--position" src="assets/img/aprove-icon.png" alt="">
    </div>
  </div>

  <div id="termino">

  </div>

</div>
