<div (click)="close()" class="close__button">
    <i class="icon icon-error"></i>
</div>
<div class="c-folder_section">
    <h2 *ngIf="!update" class="c-folder_title">Carpeta Nueva</h2>
    <h2 *ngIf="update" class="c-folder_title">Nombre Nuevo</h2>
    <div class="form__floating">
        <input id='carpeta' type="text" placeholder="Nombre Carpeta" [(ngModel)]="nameFolder" maxlength="50" onpaste="return false;" (keydown)="myFunction($event)">
        <label for="carpeta">Nombre Carpeta</label>
    </div>
    <div class="algn-m-v2 box-options">
        <button (click)="close()" class="form__button continue-btn-4 btn-options">
            Cancelar
        </button>

        <button *ngIf="!update" (click)="create()" class="form__button continue-btn-2 btn-create">
            Crear
        </button>

        <button *ngIf="update" (click)="create()" class="form__button continue-btn-2 btn-create">
            Actualizar
        </button>
    </div>
</div>
