.payment__title {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 30px;
}

.payment__options.mat-radio-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.payment__options .option {
  position: relative;
  display: inline-block;
  width: auto;
}

.u_ff {
  min-width: 0;
}

.option img {
  margin: 0 10px;
}

  .option img:last-child {
    margin: 0;
  }

  .option img:first-child {
    margin-left: 10px;
  }

.payment__form {
}

.form__row {
  display: flex;
  margin: 10px 0;
}

.form__input {
  width: 33%;
  margin: 0 5px;
}

.form__input2 {
  width: 100%;
}

.form__row .form__input:first-child {
  margin-left: 0;
}

.form__row .form__input:last-child {
  margin-right: 0;
}

.form__select {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #bebebe;
  font-family: inherit;
}

.form__checkbox {
}

.form__label {
  margin-left: 10px;
  font-size: 16px;
}

.form__actions {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.form__button {
  margin: 0 10px;
  font-size: 15px;
  padding: 6px 25px 7px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  height: auto;
  width: auto;
  background-color: #9e267d;
  border: 1px solid #9e267d;
  cursor: pointer;
}

  .form__button:disabled {
    border: solid 1px #e6e6e6;
    background-color: #e6e6e6;
    cursor: not-allowed;
  }

  .form__button:last-child {
    margin-right: 0;
  }

.form__button--cancel {
  color: #7c7c7c;
  background-color: #fff;
  border: 1px solid #7c7c7c;
}

@media (max-width: 640px) {
  .payment__options.mat-radio-group {
    flex-direction: column;
    justify-content: flex-start;
  }

  .option {
    justify-content: center;
  }

    .option img {
      max-width: 25px;
      height: auto;
      margin: 0 3px;
    }
}
