.plan-cont {
    margin: 15px 0;
    outline: none;
}

.plan__free {
    width: 300px;
    margin: auto;
}

.plan__switch {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .plan__switch p {
    font-size: 12px;
    margin: 0 10px;
    padding: 5px;
  }

.title_plan-free {
    text-align: center;
    background-color: #F4E6F0;
    width: 90%;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    height: 35px;
    padding: 10px;
}

.plan__info-free {
    padding: 20px 30px;
    text-align: center;
    border-radius: 5px;
    min-width: 200px;
    color: #3f3f3f;
    position: relative;
    -webkit-box-shadow: 0px 3px 12px -2px rgba(191, 181, 191, 1);
    -moz-box-shadow: 0px 3px 12px -2px rgba(191, 181, 191, 1);
    box-shadow: 0px 3px 12px -2px rgba(191, 181, 191, 1);
}

.inner {
    margin-bottom: 20px;
}

.service-cont {
    margin: 15px 0;
    outline: none;
}

.plan-cant_firmas {
    font-size: 24px;
    font-weight: 700;
}

.plan-tipo_firma {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #9E267C;
    text-transform: uppercase;
}

.plan-price {
    margin: 10px 0;
  }
  
  .plan-price .value {
    font-size: 24px;
    font-weight: 800;
  }
  
    .plan-price .value span {
      font-size: 12px;
      font-weight: 500;
    }
  
  .plan-price .value-old {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
  }
  
    .plan-price .value-old span {
      font-size: 14px;
      font-weight: 300;
    }

.plan-action {
    background-color: #9E267C;
    color: #FFF;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}
    
.plan-action:disabled {
    background-color: #F4E6F0;
    cursor: not-allowed;
    color: #707070;
    font-weight: 500;
}

.plan-features {
    position: relative;
    background: #e6e6e6;
    padding: 15px;
    margin: 0 20px;
  }
  
.plan-features p {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.left-triangle {
    position: absolute;
    background: white;
    transform: rotate(-5deg);
    bottom: -20px;
    right: -2px;
    width: calc(50% + 2px);
    height: 30px;
}
  
.right-triangle {
    position: absolute;
    background: white;
    transform: rotate(5deg);
    bottom: -20px;
    left: -2px;
    width: calc(50% + 2px);
    height: 30px;
}

@media (max-width: 640px) {

    .plan__free {
      width: 80%;
      margin-bottom: 10px !important;
      margin: auto;
    }
  }