<div class="nav-pdf">
    <div class="content-nav-pdf">
        <div class="options-pdf">
            <div class="tls-item fxtl tolls space-ico" data-toggle="tooltip" data-placement="bottom" title="Cerrar">
                <a class="btn_ico_pdf" (click)="closePDF()"><i class="icon-close"></i> </a>
            </div>
            <div class="tls-item fxtl tolls space-ico" data-toggle="tooltip" data-placement="bottom"
                 title="Descargar Archivo">
                <a class="btn_ico_pdf" (click)="downloadPdf()"><i class="icon-download-1"></i> </a>
            </div>
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto;  width: 100%;">
    <pdf-viewer style="display: block;" [src]="pdfsrc" [show-all]="true" [page]="page" [original-size]="false"
                [fit-to-page]="true" [autoresize]="true" (after-load-complete)="afterLoadComplete($event)">
    </pdf-viewer>
</div>
