.l-folder_section{
    padding: 5% 8%;
}

.l-folder_title{
    text-align: center;
    font-size: 18px;
    color: #9E267C;
    margin: 10px;
    font-weight: 600;
}

.close__button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.item-folder{
    padding: 3%;
    cursor: pointer;
    word-break: break-all;
    font-size: 14px;
    font-weight: 400;
}

.item-folder.active{
  background-color: #e6e6e6;
}

.item-folder:hover{
    background-color: #e6e6e6;
}

.box-options{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100%;
}

.btn-options{
    margin-right: 20px;
    margin-bottom: 0;
}

.button-move {
  border: 1px solid #9e267d;
  color: #fff;
  border-radius: 5px;
  background-color: #9e267d;
  padding: 10px 35px;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  margin-left: auto;
}

.button-move:disabled {
  cursor: not-allowed;
  border: solid 1px #e6e6e6;
  color: #e6e6e6;
  background: #ffffff;
}

.icons-item{
  padding: 0 3%;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  align-self: center;
}

.icons-item img{
  color: #9E267C;
  height: 25px;
}

.container__buttons {
  display: flex;
  padding-top: 5%;
  border-top: 2px solid #e6e6e6;
}

.document__icon {
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
}

.list__folders {
  max-height: 220px;
  overflow: auto;
}

@media (max-width: 640px) {

    .box-options{
        display: inline-block;
    }

    .btn-options{
        margin-right: 0;
        margin-bottom: 10px;
    }
}
