<?xml version="1.0" encoding="utf-8"?>
<configuration>
   	<system.webServer>
       <staticContent>
		   	<clientCache  cacheControlMode="UseMaxAge" cacheControlMaxAge="240:00:00" />
       </staticContent>
    </system.webServer>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	 <system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
			<rewrite>
				<rules>
					<rule name="ApiManager Rule Blacklist" stopProcessing="true">
						<match url="^apiservice/swagger/index.html" />
						<action type="Rewrite" url="/" />
					</rule>
					<rule name="ApiManager Rule" stopProcessing="true">
						<match url="^apiservice/(.*)" />
						<action type="Rewrite" url="https://olsrvpruwbce01:6594/{R:1}" />
					</rule>
					<rule name="AuthGateway Rule Blacklist" stopProcessing="true">
						<match url="^authservice/swagger/index.html" />
						<action type="Rewrite" url="/" />
					</rule>
					<rule name="AuthGateway Rule" stopProcessing="true">
						<match url="^authservice/(.*)" />
						<action type="Rewrite" url="https://olsrvpruwbce01:6595/{R:1}" />
					</rule>
					<rule name="MiFirma Rule Blacklist" stopProcessing="true">
						<match url="^coreservice/swagger/index.html" />
						<action type="Rewrite" url="/" />
					</rule>
					<rule name="MiFirma Rule" stopProcessing="true">
						<match url="^coreservice/(.*)" />
						<action type="Rewrite" url="https://olsrvpruwbce01:6741/{R:1}" />
					</rule>
					<rule name="Signature Rule Blacklist" stopProcessing="true">
						<match url="^signatureservice/swagger/index.html" />
						<action type="Rewrite" url="/" />
					</rule>
					<rule name="Signature Rule" stopProcessing="true">
						<match url="^signatureservice/(.*)" />
						<action type="Rewrite" url="https://olsrvpruwbce01:6597/{R:1}" />
					</rule>
					<rule name="Templates Rule Blacklist" stopProcessing="true">
						<match url="^templatesservice/swagger/index.html" />
						<action type="Rewrite" url="/" />
					</rule>
					<rule name="Templates Rule" stopProcessing="true">
						<match url="^templatesservice/(.*)" />
						<action type="Rewrite" url="https://olsrvpruwbce01:6743/{R:1}" />
					</rule>
					<rule name="Angular Routes" stopProcessing="true">
						<match url=".*" />
					  <conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					  </conditions>
					  <action type="Rewrite" url="/" />
					</rule>
				</rules>
				<outboundRules>
						<rule name="Overwrite gzip compression">
							<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
							<conditions>
								<add input="{REQUEST_URI}" pattern="\.gz\.(.*)$" />
							</conditions>
							<action type="Rewrite" value="gzip" />
						</rule>
						<rule name="Overwrite brotli compression">
							<match serverVariable="RESPONSE_Content_Encoding" pattern=".*" />
							<conditions>
								<add input="{REQUEST_URI}" pattern="\.br\.(.*)$" />
								<add input="{HTTP_ACCEPT_ENCODING}" pattern=".*br.*" />
							</conditions>
							<action type="Rewrite" value="br" />
						</rule>
						<rule name="Remove WWW Auth">
							<match serverVariable="RESPONSE_WWW_Authenticate" pattern=".*" />
								<action type="Rewrite" value="" />
						</rule>
					</outboundRules>
			</rewrite>
	 </system.webServer>
	<location path="assets">
		<system.webServer>
			<staticContent>
				<mimeMap fileExtension=".res" mimeType="application/octet-stream" />
			    <mimeMap fileExtension=".pexe" mimeType="application/x-pnacl" />
			    <mimeMap fileExtension=".nmf" mimeType="application/octet-stream" />
			    <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
			    <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="2880:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>
